<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 page found</title>
  <link rel="stylesheet" href="/404.css">
</head>
<body>
    <header>
    <div class="logo">elevato <span>Notes</span></div>
    <nav class="navbar">
      <a href="index.html">Home</a>
      <a href="addnote.html">Add Notes</a>
      <a href="card.html">See Notes</a>
    </nav>
  </header>

  <main>
    <h2>404 Error! no such page exists</h2>
    <a href="/">Return to Home page</a>
  </main>

</body>
</html>